<div class="mdl-card sleeker smaller-time-text"
     id="<%= id %>">
    <div class="carat-card__title">
        <div class="mdl-card__icon"><img src="<%= icon %>"></div>
        <div class="mdl-card__title-text">
            <%= label %>
            <div class="expand">
                <i class="material-icons">&#xE5CF;</i>
            </div>
        </div>
        <div class="carat-card-time">
            <%= benefit %>
            <span class="show-on-expand">
                <%= benefitError %>
            </span>
        </div>
    </div>
    <div class="mdl-card__supporting-text">
        <div class="collapse" id="card-<%= id %>-textpand">
            <%= "Samples: " + samples %>
        </div>
    </div>
    <div class="mdl-card__actions slimmer mdl-card--border">
        <span>
            <a class="mdl-button mdl-button--colored
                      hog-bug-action mdl-js-button
                      mdl-js-ripple-effect"
               id="<%= closeId %>"
               <% if(!killable) { %>
               style="display: none;"
               <% } %>>
                Close app
            </a>
        </span>
        <span>
            <a class="mdl-button mdl-button--colored
                      hog-bug-action mdl-js-button
                      mdl-js-ripple-effect"
               id="<%= uninstallId %>"
               <% if(!uninstallable) { %>
               style="display: none;"
               <% } %>>
                Uninstall
            </a>
        </span>
    </div>
</div>
