<div class="mdl-card mdl-shadow--2dp"
     id="statistics-jscore"
     style="-webkit-user-select: none;
            -webkit-user-drag: none;
            -webkit-tap-highlight-color: rgba(0, 0, 0, 0);">
    <div class="carat-card__title">
        <div class="mdl-card__title-text carat_summaryCard_title_text">
            My Device
        </div>
    </div>
    <div class="mdl-card__supporting-text in_large">
        <p>OS version: <%= osVersion %></p>
        <p>Device model: <%= deviceModel %></p>
        <p>Battery duration: <%= batteryLife %></p>
        <p>Memory total: <%= totalMemory %> MiB</p>
        <p>Carat id: <%= uuid %></p>
        <div style="display: inline-block;">
            CPU usage:&nbsp;
            <div id="cpuProgressBar" class="progressBar">
                <span>?</span>
                <div></div>
            </div>
        </div>
        <div style="display: inline-block;">
            Memory usage:&nbsp;
            <div id="memProgressBar" class="progressBar">
                <span>?</span>
                <div></div>
            </div>
        </div>
    </div>
</div>
